{% extends 'base.html.twig' %}

{% block title %}BILEMO - API WEB SERVICE{% endblock %}

{% block body %}

<section class="change-font">

    <div class="background-image" style="background:url('{{ asset('images/login-background.jpg') }}');"></div>

    <div class="center-align white-text">

        <h4>BILEMO</h4>
        <p>API WEB SERVICE</p>

        <img class="main-logo" src="{{ asset('images/bilemo-logo.png') }}" alt="Bilemo API" title="Bilemo API">

    </div>

    {% if app.user %}

    <div class="center-align white-text">

        <div class="medium-spacer"></div>

        <a href="{{ path('gotoapi') }}" class="btn waves-effect waves-light blue lighten-3 hoverable">
            <i class="fas fa-satellite-dish"></i>&nbsp;&nbsp;API PLATFORM
        </a>

        <div class="double-spacer"></div>

        <a href="{{ path('security_disconnect') }}" class="btn waves-effect waves-light teal lighten-3 hoverable">
            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;DÉCONNEXION
        </a>

        <div class="double-spacer"></div>

        <a href="/api/docs?ui=re_doc" class="btn waves-effect waves-light indigo lighten-3 hoverable">
            <i class="fas fa-file-alt"></i>&nbsp;&nbsp;DOCUMENTATION
        </a>

        <div class="double-spacer"></div>

        <a href="{{ path('bilemo_products') }}" class="btn waves-effect waves-light purple lighten-3 hoverable">
            <i class="fas fa-phone"></i>&nbsp;&nbsp;SMARTPHONES
        </a>

    </div>

    {% else %}

    <div class="row form-box">

        <div class="col s12 l4 offset-l4">

            <div class="card special-card">

                <div class="card-content">

                    {% if error %}

                    <p class="red-text center-align"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></p>
                    
                    {% endif %}

                    <form action="{{ path('security_connexion')}}" method="post">

                        <div class="row">

                            <div class="input-field col s12 special-input">

                                <i class="fas fa-user icon-color-1"></i>

                                <input placeholder="Nom d'utilisateur" name="_username" type="text" class="validate">

                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col s12 special-input">

                                <i class="fas fa-key icon-color-2"></i>

                                <input placeholder="Mot de passe" name="_password" type="password" class="validate">

                            </div>

                        </div>

                        <div class="row center-align">

                            <button class="btn waves-effect waves-light" type="submit" name="action">Connexion</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <div class="center-align white-text">

        <a href="/api/docs?ui=re_doc" class="btn waves-effect waves-light indigo lighten-3 hoverable">
            <i class="fas fa-file-alt"></i>&nbsp;&nbsp;DOCUMENTATION
        </a>

        <div class="regular-spacer"></div>

        <a href="{{ path('bilemo_products') }}" class="btn waves-effect waves-light indigo lighten-3 hoverable">
            <i class="fas fa-phone"></i>&nbsp;&nbsp;SMARTPHONES
        </a>

        <div class="regular-spacer"></div>

    </div>

    {% endif %}

</section>

{% endblock %}
