{% extends 'base.html.twig' %}

{% block title %}BILEMO PRODUCTS{% endblock %}

{% block body %}

<section class="change-font">

    <div class="background-image" style="background:url('{{ asset('images/login-background.jpg') }}');">
    </div>

    <a class="waves-effect waves-light btn modal-trigger mini-menu" href="#modal1">
        <i class="fas fa-bars"></i>
    </a>

    <div id="modal1" class="modal">

        <div class="modal-content center-align modal-content-size">

            <p class="modal-main-link">
                <a href="{{ path('security_connexion') }}">
                    ACCUEIL
                </a>
            </p>
            <p class="modal-link">
                <a href="{{ path('bilemo_products') }}">
                    <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;SMARTPHONES
                </a>
            </p>
            <p class="modal-link">
                <a href="{{ path('gotoapi') }}">
                    <i class="fas fa-satellite-dish"></i>&nbsp;&nbsp;API PLATFORM
                </a>
            </p>
            <p class="modal-link">
                <a href="/api/docs?ui=re_doc">
                    <i class="fas fa-file-alt"></i>&nbsp;&nbsp;DOCUMENTATION
                </a>
            </p>

        </div>

        <div class="modal-footer">

            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
                <i class="fas fa-times"></i>
            </a>

        </div>

    </div>

    <div class="center-align white-text bilemo-products-title">

        <h4>BILEMO</h4>
        <p>PRODUCTS</p>

        <img class="main-logo" src="{{ asset('images/api-logo.png') }}" alt="Bilemo" title="Bilemo">

    </div>

    <div id="phones_list" class="row">
    
    </div>

</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('request') }}
{% endblock %}
